/*
font-family: 'Cormorant Garamond', Serif;
font-size: 55px;
font-family: 'Fira Sans', Sans-Serif;
font-size: 15px;
*/


* {
	box-sizing: border-box;
}

body {
	font-family: 'Nanum-Gothic-Coding';
	font-size: 20px;
	color: rgb(0, 0, 0);
	margin: 0;
}
header {
	background-image:url(images/bernie-header.jpg);
	background-size: cover;
	width: 100vw;
	height: 50vw;
}
header.grid-header {
	display: flex;
	justify-content: space-between ;
}

h1, h2 {
	font-family: 'Palanquin';
	color: rgba(255, 255, 255, 0.986);
}

h1 {
	font-size: 80px;
	margin-top: 250px;
	writing-mode: horizontal-tb;
	text-orientation: mixed;
	padding: 20px 10px;
}

h2 {
	font-size: 60px;
	margin-top: 650px;
	margin-right: 40px;
	text-align: right;
	
}

p {
	line-height: 32px;
}

em { 
	font-weight: bold; 
}

main {
	width: 80%;
	margin: 60px auto;
}

.grid-main {
	display: flex;
}

.grid-main p {
	margin:60px;
}
.grid-main p:nth-child(1) {
	flex: 45%;
}
.grid-main p:nth-child(2) {
	flex: 55%;
}
.intro span {
	font-size: 60px; 
	font-weight:bold;
	font-family: 'Cormorant Garamond', Serif;
}
.first {
	font-size: 33px;
}

blockquote {
	font-style: bold;
	font-size: 28px;
	font-family: 'Palanquin';
	text-align: center;
}

blockquote em { font-weight: bold; color: #ff9900; font-size: 38px; }